@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 247 250;
    --foreground: 26 34 56;
    --card: 227 234 242;
    --card-foreground: 26 34 56;
    --popover: 255 251 230;
    --popover-foreground: 26 34 56;
    --primary: 58 91 160;
    --primary-foreground: 255 251 230;
    --secondary: 247 200 115;
    --secondary-foreground: 26 34 56;
    --muted: 229 229 223;
    --muted-foreground: 58 91 160;
    --accent: 110 163 193;
    --accent-foreground: 255 251 230;
    --destructive: 45 30 47;
    --destructive-foreground: 255 251 230;
    --border: 176 184 193;
    --input: 110 163 193;
    --ring: 247 200 115;
    --chart-1: 58 91 160;
    --chart-2: 247 200 115;
    --chart-3: 110 163 193;
    --chart-4: 176 184 193;
    --chart-5: 45 30 47;
    --radius: 8px;

    --android-background: 248 249 248;
    --android-foreground: 3 3 3;
    --android-card: 255 255 255;
    --android-card-foreground: 4 7 4;
    --android-popover: 244 247 244;
    --android-popover-foreground: 4 7 4;
    --android-primary: 120 174 117;
    --android-primary-foreground: 6 10 6;
    --android-secondary: 144 167 142;
    --android-secondary-foreground: 46 57 45;
    --android-muted: 216 219 216;
    --android-muted-foreground: 73 80 73;
    --android-accent: 104 173 174;
    --android-accent-foreground: 36 66 66;
    --android-destructive: 186 26 26;
    --android-destructive-foreground: 255 255 255;
    --android-border: 237 239 237;
    --android-input: 212 218 212;
    --android-ring: 237 239 237;

    --web-background: 248 249 248;
    --web-foreground: 3 3 3;
    --web-card: 255 255 255;
    --web-card-foreground: 4 7 4;
    --web-popover: 244 247 244;
    --web-popover-foreground: 4 7 4;
    --web-primary: 120 174 117;
    --web-primary-foreground: 6 10 6;
    --web-secondary: 144 167 142;
    --web-secondary-foreground: 46 57 45;
    --web-muted: 222 225 222;
    --web-muted-foreground: 73 80 73;
    --web-accent: 101 176 178;
    --web-accent-foreground: 34 67 68;
    --web-destructive: 186 26 26;
    --web-destructive-foreground: 255 255 255;
    --web-border: 237 239 237;
    --web-input: 212 218 212;
    --web-ring: 237 239 237;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 24 26 36;
      --foreground: 230 234 243;
      --card: 35 36 58;
      --card-foreground: 230 234 243;
      --popover: 35 36 58;
      --popover-foreground: 255 224 102;
      --primary: 58 91 160;
      --primary-foreground: 255 224 102;
      --secondary: 255 224 102;
      --secondary-foreground: 35 36 58;
      --muted: 29 30 47;
      --muted-foreground: 122 136 161;
      --accent: 188 205 240;
      --accent-foreground: 24 26 36;
      --destructive: 160 74 108;
      --destructive-foreground: 255 224 102;
      --border: 45 46 62;
      --input: 58 91 160;
      --ring: 255 224 102;
      --chart-1: 58 91 160;
      --chart-2: 255 224 102;
      --chart-3: 110 163 193;
      --chart-4: 122 136 161;
      --chart-5: 160 74 108;

      --android-background: 1 2 1;
      --android-foreground: 251 253 251;
      --android-card: 28 35 28;
      --android-card-foreground: 251 253 251;
      --android-popover: 43 46 43;
      --android-popover-foreground: 251 253 251;
      --android-primary: 120 174 117;
      --android-primary-foreground: 0 0 0;
      --android-secondary: 144 163 142;
      --android-secondary-foreground: 47 56 46;
      --android-muted: 216 219 216;
      --android-muted-foreground: 73 80 73;
      --android-accent: 104 169 170;
      --android-accent-foreground: 37 65 65;
      --android-destructive: 147 0 10;
      --android-destructive-foreground: 255 255 255;
      --android-border: 63 67 63;
      --android-input: 75 80 75;
      --android-ring: 63 67 63;

      --web-background: 1 2 1;
      --web-foreground: 251 253 251;
      --web-card: 28 35 28;
      --web-card-foreground: 251 253 251;
      --web-popover: 43 46 43;
      --web-popover-foreground: 251 253 251;
      --web-primary: 120 174 117;
      --web-primary-foreground: 0 0 0;
      --web-secondary: 144 163 142;
      --web-secondary-foreground: 47 56 46;
      --web-muted: 222 225 222;
      --web-muted-foreground: 73 80 73;
      --web-accent: 101 172 174;
      --web-accent-foreground: 35 66 67;
      --web-destructive: 147 0 10;
      --web-destructive-foreground: 255 255 255;
      --web-border: 63 67 63;
      --web-input: 75 80 75;
      --web-ring: 63 67 63;
    }
  }
}

