@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 245 245;
    --foreground: 26 34 56;
    --card: 255 255 255;
    --card-foreground: 26 34 56;
    --popover: 255 251 230;
    --popover-foreground: 26 34 56;
    --primary: 51 187 237;
    --primary-foreground: 255 251 230;
    --secondary: 255 183 1;
    --secondary-foreground: 26 34 56;
    --muted: 229 229 223;
    --muted-foreground: 58 91 160;
    --accent: 110 163 193;
    --accent-foreground: 255 251 230;
    --destructive: 45 30 47;
    --destructive-foreground: 255 251 230;
    --border: 211 211 211;
    --input: 110 163 193;
    --ring: 247 200 115;
    --chart: 249 140 31;
    --chart-2: 247 200 115;
    --chart-3: 110 163 193;
    --chart-4: 176 184 193;
    --chart-5: 45 30 47;
    --radius: 8px;
    --orange: 255 149 0;

    --android-background: 248 249 248;
    --android-foreground: 3 3 3;
    --android-card: 255 255 255;
    --android-card-foreground: 4 7 4;
    --android-popover: 244 247 244;
    --android-popover-foreground: 4 7 4;
    --android-primary: 120 174 117;
    --android-primary-foreground: 6 10 6;
    --android-secondary: 144 167 142;
    --android-secondary-foreground: 46 57 45;
    --android-muted: 216 219 216;
    --android-muted-foreground: 73 80 73;
    --android-accent: 104 173 174;
    --android-accent-foreground: 36 66 66;
    --android-destructive: 186 26 26;
    --android-destructive-foreground: 255 255 255;
    --android-border: 237 239 237;
    --android-input: 212 218 212;
    --android-ring: 237 239 237;

    --web-background: 248 249 248;
    --web-foreground: 3 3 3;
    --web-card: 255 255 255;
    --web-card-foreground: 4 7 4;
    --web-popover: 244 247 244;
    --web-popover-foreground: 4 7 4;
    --web-primary: 120 174 117;
    --web-primary-foreground: 6 10 6;
    --web-secondary: 144 167 142;
    --web-secondary-foreground: 46 57 45;
    --web-muted: 222 225 222;
    --web-muted-foreground: 73 80 73;
    --web-accent: 101 176 178;
    --web-accent-foreground: 34 67 68;
    --web-destructive: 186 26 26;
    --web-destructive-foreground: 255 255 255;
    --web-border: 237 239 237;
    --web-input: 212 218 212;
    --web-ring: 237 239 237;

  }

}

